page-contact {
  p{
    user-select: text !important
  }
  .card-title{
    line-height: 25px !important;
    user-select: text !important;
  }
  .card-ios{
    width: 100%;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right:0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-bottom: 10px !important;
  }

  .scroll-content{
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right:0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  p{
    font-size: 18px !important;
  }

}
